<!--<nav>-->
  <!--<a [routerLink]="['/']"> Current weather</a>-->
  <!--&lt;!&ndash;<a> Tomorrow </a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a> 2 days forecast </a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a> 3 days forecast </a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a> 4 days forecast </a>&ndash;&gt;-->
  <!--<a [routerLink]="['forecast5']" > 5 days forecast </a>-->
<!--</nav>-->

<body class="news">
<header>
  <div class="nav">
    <ul>
      <li><a [routerLink]="['/']"> Current weather</a></li>
      <li><a [routerLink]="['forecast1']" > 1 day forecast </a></li>
      <li><a [routerLink]="['forecast2']" > 2 days forecast </a></li>
      <li><a [routerLink]="['forecast3']" > 3 days forecast </a></li>
      <li><a [routerLink]="['forecast4']" > 4 days forecast </a></li>
      <li><a [routerLink]="['forecast5']" > 5 days forecast </a></li>
    </ul>
  </div>
</header>
</body>
