.container{
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

table
{
  border-collapse: collapse;
  margin: 0 auto;
}

td
{
  border: 1px solid black;
}
